.titulo {
    text-align: center;
    margin: auto;
}

#profile img {
    border-radius: 10px;
    margin: auto;
    display: block;
}

.ingredientes {
    text-align: center;
    margin: auto;
}

.preparo {
    text-align: center;
    margin: auto;
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 16px;
    width: 100%; 
}